[submodule "/nfs/home/stubenj9/tearing-physics-suite/submodules/GPEC"]
	path = /nfs/home/stubenj9/tearing-physics-suite/submodules/GPEC
	url = https://github.com/PrincetonUniversity/GPEC.git
	branch = adding_MRE_terms
[submodule "submodules/PEST3"]
	path = submodules/PEST3
	url = git@github.com:MIT-PSFC/PEST3.git
	branch = engaging_branch
[submodule "submodules/ScrewpinchAsymptoticMatching"]
	path = submodules/ScrewpinchAsymptoticMatching
	url = git@github.com:StuartBenjamin/ScrewpinchAsymptoticMatching.jl.git
[submodule "submodules/OpenFUSIONToolkit"]
	path = submodules/OpenFUSIONToolkit
	url = https://github.com/OpenFUSIONToolkit/OpenFUSIONToolkit.git
